body {
    background-color: black;
    font-family: 'Rubik Marker Hatch', cursive;
    color: white;
}
.logo {
    width: 80px;
    margin: auto;
    display: block;
}
.navigation {
    background-color: black;
    text-align: center;
}
.navigation a {
    color: white;
    text-decoration: none;
}
.banner {
    height: 800px;
    width: auto;
    text-align: center;
    background-color: aquamarine;
    background-image: url("images/claudio-schwarz-ipcsI15th5I-unsplash.jpg");
}

footer a {
    font-size: 80px;
    color: white;
    text-decoration: none;
}